
header {
    /* background-color: #f7f7ff; */
    display: grid;
    grid-template-columns: 150px auto;

}
nav {
    display: flex;
    justify-content: space-around;
}
#heading {
    max-width: 1600px;
    margin: 0 auto;
}
.logo, .icon {
    width:80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a {
    text-align:center;
    /* color: #396E94; */
    color: #396E94; /* for thw nav words to show better with no nav backgorund over hero */ 
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
    /* 20px padding looks better to me */
}
nav a:hover {
    background-color: #396E94;
    color: #f7f7ff;
}
/* #hero {
    max-width: 2000px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
} */


footer {
    background-color: #f7f7ff;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img {
    padding-top: 15px;
}
footer h3 {
    color:black;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer a {
    color: #396E94;
    text-decoration: none;
}
footer a:hover {
    color:black;
}